:root {
    --topoPreto: #101625;
    --fundotransparente: #0000007c;
    --verdePrimario: #21c45d;
    --fundo: #111827;
    --fundoSec: #0d1322;
    --contraste: #101625;
    --textoPrin: #ffffff;
    --textoSec: #9ca3af;
}

.container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    padding: 2px 0px 2px 0px;
    background: var(--fundotransparente);
    z-index: 99999;
    animation: animacaoMenu 1s ease;
}

@keyframes animacaoMenu {
    from {
        left: -20px;
    }

    to {
        left: 1px;
    }
}

.footerContainer {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    box-sizing: border-box;
    /* width: 110px; */
}

.nava_footer {
    width: 100%;
    height: 100%;
}

.nava_footer .menu .item_menu {
    color: var(--textoPrin);
    font-size: 0.7rem;
}

.area_btn_fexar {
    background: none;
}

.btn_fexar {
    width: 35px;
    height: 30px;
}

.menu {
    flex: 1;
    width: 100%;
}

.area_itens {
    width: 250px;
    height: 100%;
    background: var(--fundoSec);
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.links_nav {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    width: 100%;
}

.area_itens .menu button {
    width: 165px;
    height: 35px;
    padding: 0px 0px 0px 10px;
}

.nava_footer .menu .item_menu:hover {
    color: var(--verdePrimario);
}

.links_nav button {
    width: 100%;
    height: 25px;
}

.links_nav button a {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
}

.item_menu {
    text-decoration: none;
    color: var(--textoPrin);
    text-align: justify;
}

.activa {
    color: var(--verdePrimario) !important;
    border-bottom: 1px solid var(--textoSec);
    font-weight: 501;
}

.area_itens .menu button .activa {
    padding: 0px 0px 0px 10px;
}

@media only screen and (min-width:360px) {
    .footerContainer {
        width: 100px;
    }
}

@media only screen and (min-width:800px) {
    .nava_footer .menu .item_menu {
        font-size: 0.8rem;
    }

    .footerContainer {
        width: 120px;
    }
}