header {
    height: 35px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    box-sizing: border-box;
    font-size: 0.9rem;
}

.btn_topo {
    height: 30px;
    width: 35px;
}