:root {
    --verdePrimario: #21c45d;
    --fundo: #111827;
    --fundoSec: #0d1322;
    --contraste: #101625;
    --textoPrin: #ffffff;
    --textoSec: #9ca3af;
}

header {
    height: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    box-sizing: border-box;
    font-size: 0.9rem;
    background-color: var(--contraste);
}

.btn_topo {
    height: 30px;
    width: 35px;
}

.ajuste {
    width: 30px;
}

.link_logo {
    width: 100%;
}