.area_hero {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 0px 5px 0px 5px;
}

.area_img {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.titulo_hero {
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
}

.foco {
    color: #21c45d;
    padding: 1px 0px 0px 3px;
}

.accao_hero {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
    padding: 5px 0px 5px 0px;
}