.area_hero {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 12px 5px 15px 5px;
    gap: 5px;
}

.area_img {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 5px 0px 5px 0px;
}

.titulo_hero {
    font-size: 1rem;
    padding: 0px 0px 2px 0px;
}

.mens_hero {
    padding: 0px 0px 6px 0px;
}

.foco {
    color: #21c45d;
    height: 100%;
    font-weight: 700 !important;
    /* padding: 1px 0px 0px 3px; */
}

.accao_hero {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
    padding: 5px 0px 5px 0px;
}