:root {
    --verdePrimario: #21c45d;
    --verdeClaro: #21c45d0b;
    --fundo: #111827;
    --fundoSec: #0d1322;
    --contraste: #101625;
    --textoPrin: #ffffff;
    --textoSec: #9ca3af;
}

.area_anunciar {
    flex: 1;
    padding: 6px 0px 0px 0px;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

.area_img {
    width: 100%;
    height: 300px;
    padding: 8px 0px 8px 0px;
}

.img_anuciar {
    height: 100%;
    width: 100%;
}

.img_anuciar img {
    height: 100%;
    width: 100%;
}

.area_infos {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.area_titulo {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 1rem;
}

.area_titulo,
.titulo_infos_nes {
    font-family: "Merriweather", serif;
}

.titulo_infos_nes {
    width: 100%;
    text-align: center;
}

.info_area {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 15px 5px 15px 5px;
}

.foco {
    color: #21c45d;
}

.area_grupos {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
    padding: 5px 0px 5px 0px;
}

.grupos {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
}

.info_nec {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    gap: 7px;
}

.img_info {
    width: 250px;
    height: 250px;
}

.img_info img {
    width: 100%;
    height: 100%;
}

.btn_anunciar {
    background: var(--verdePrimario);
    border-radius: 12px;
    color: var(--textoPrin);
    font-weight: 600;
    gap: 5px;
    padding: 5px;
}

.btn_anunciar p {
    padding: 0px 0px 3px 0px;
}

.btn_anunciar img {
    width: 20px;
    height: 20px;
    padding: 0px;
}

.btn_anunciar:hover {
    transform: translateY(-1px);
}

/*Css da area como processo simples*/
.area_geral_processo {
    width: 100%;
    background: var(--fundoSec);
    padding: 15px 10px 15px 10px;
    color: var(--textoPrin);
}

.area_pedido_anun {
    width: 95%;
    background: var(--fundo);
    border: 1px solid var(--textoSec);
    border-radius: 10px;
    color: var(--textoPrin);
    box-shadow: 2px 2px 0px var(--fundoSec);
    padding: 5px;
}

.pedido_anunciar {
    width: 100%;
    background-color: var(--fundoSec);
    padding: 0px 10px 20px 10px;
}

@media only screen and (min-width:800px) {
    .area_grupos .grupos:nth-child(even) {
        margin-left: 25px;
    }

    .area_grupos {
        gap: 0px;
    }

    .grupos {
        width: 25%;
    }

    .area_grupos .grupos:nth-child(odd) {
        margin-right: 25px;
    }
}

@media only screen and (min-width:800px) {
    .area_pedido_anun {
        max-width: 85%;
    }
}