:root {
    --verdePrimario: #21c45d;
    --fundo: #111827;
    --fundoSec: #0d1322;
    --contraste: #101625;
    --textoPrin: #ffffff;
    --textoSec: #9ca3af;
}

.area_inicio {
    flex: 1;
    padding: 0px 0px 10px 0px;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

.ir_propriedades {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.area_destaque {
    width: 100%;
    padding: 0px 5px 0px 5px;
    background-color: var(--fundoSec);
}

.titulo_destaque {
    padding: 5px 0px 5px 0px;
}

.titulo_desc_destaque {
    width: 100%;
}

.destaque_btn {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    /* padding: 5px; */
    height: 25px !important;
}

.destaque_btn p {
    flex: 1;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.destaque_btn img {
    width: 20px;
    height: 20px;
}

.links_destaque {
    width: 130px;
    color: var(--verdePrimario);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    text-decoration: none;
}

.links_destaque:hover {
    color: var(--verdePrimario);
}

.ajuste_icone {
    height: 25px;
}

.destaque_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    height: 25px;
    padding: 0px 0px 1px 0px;
    color: var(--verdePrimario);
}

.btn_pedido {
    background-color: var(--verdePrimario);
    width: 160px;
    border-radius: 20px;
}


.btn_pedido a {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    text-decoration: none;
    color: var(--contraste);
    font-weight: 700;
}

.propriedades {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    padding: 0px 0px 10px 0px;
}

/*Hero*/

.links_imoveis {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.btn_hero {
    color: var(--contraste);
    background-color: var(--verdePrimario);
}

.btn_consultor {
    background-color: var(--contraste);
    color: var(--textoPrin);
    border: 1px solid var(--textoSec);
}

.btn_hero,
.btn_consultor {
    width: 140px;
    border-radius: 20px;
}

/*Css da area como funciona*/
.area_geral_funciona {
    width: 100%;
    /* background: var(--rosa-branco); */
    background: var(--fundoSec);
    padding: 10px 10px 10px 10px;
    /* margin-bottom: 13px; */
    color: var(--textoPrin);
}

.area_cat {
    width: 100%;
    /* height: 560px; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
}

.area_img_cat {
    width: 60px;
    height: 60px;
    padding: 5px;
    background: var(--fundoSec);
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}