.area_inicio {
    flex: 1;
    padding: 0px 5px 10px 5px;
    /* height: 100%; */
}

.ir_propriedades {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.titulo_destaque {
    padding: 5px 0px 5px 0px;
}

.titulo_desc_destaque {
    width: 100%;
}

.destaque_btn {
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* padding: 5px; */
    height: 25px !important;
}

.links_destaque {
    width: 85px;
    color: #21c45d;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    text-decoration: none;
}

.links_destaque:hover {
    color: #21c45d;
}

.ajuste_icone {
    height: 25px;
}

.destaque_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    height: 25px;
    padding: 0px 0px 1px 0px;
    color: #21c45d;
}

.propriedades {
    /* height: 100%; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}