:root {
    --verdePrimario: #21c45d;
    --verdeClaro: #21c45d0b;
    --fundo: #111827;
    --fundoSec: #0d1322;
    --contraste: #101625;
    --textoPrin: #ffffff;
    --textoSec: #9ca3af;
}

.area_propriedades {
    flex: 1;
    padding: 6px 0px 0px 0px;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

.area_exp {
    padding: 0px;
    width: 100%;
    text-align: justify;
    padding: 10px 5px 15px 5px;
}

.area_exp,
.casas_propriedades {
    background-color: var(--fundoSec);
}

/* 
.area_destaque {
    width: 100%;
    padding: 10px 5px 15px 5px;
    background-color: var(--fundoSec);
}
 */
.desc_prop {
    width: 100%;
}

.filtros {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex: 1;
    gap: 6px;
    padding: 7px 0px 7px 0px;
}

.btn_filtro {
    border: 1px solid var(--textoSec);
    border-radius: 20px;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: var(--textoPrin);
}

.filto_activo {
    border-color: var(--verdePrimario);
    color: var(--verdePrimario);
    background-color: var(--verdeClaro);
}

.area_ver_mais {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.btn_ver_mais {
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    color: #21c45d;
}

.casas_propriedades {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
    padding: 0px 5px 20px 5px;
}

.controles_propriedades {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.controles {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 80%;
}

.controle_count {
    padding: 0px 5px 0px 5px;
}

.btn_controle {
    color: var(--verdePrimario);
}

@media only screen and (min-width:900px) {
    .casas_propriedades {
        flex-direction: row;
    }
}