.area_sobre_nos {
    flex: 1;
    padding: 0px 5px 10px 5px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 5px;
}

.area_texto {
    width: 100%;
}

.visao_missao_container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-items: center;
    gap: 10px;
    padding: 10px 0px 10px 0px;
}

.area_valores_container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    justify-items: center;
    gap: 10px;
}

.sobre_btn_accao {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.sobre_btn_exp {
    width: 150px;
    background-color: #21c45d;
    padding: 5px;
    border-radius: 20px;
}

.sobre_btn_exp a {
    width: 100%;
    height: 100%;
    color: #000;
    text-decoration: none;
}

.sobre_btn_exp a:hover {
    color: #000;
}

.area_jornada {
    width: 345px;
    border: 1px solid #111;
    border-radius: 20px;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    box-shadow: 0 4px 4px rgba(214, 213, 212, 0.883), 0 -4px 4px rgba(232, 225, 218, 0.883);
}

.area_foco_jor {
    width: 150px;
    border: 1px solid #21c45d;
    border-radius: 20px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.area_texto_jornada {
    text-align: center;
}

/* Área Pedido */

.sobre_pedido {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px 0px 0px 0px;
}

.area_desc_sobre {
    width: 85%;
    background: #ccc3bcf5;
    border-radius: 12px;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

.desc_mens {
    text-align: center;
}

.area_btn_sobre {
    width: 100%;
    height: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.area_btn_sobre a {
    text-decoration: none;
}

.btn_sobre_acao {
    width: 185px;
    height: 30px;
    background: #21c45d;
    border-radius: 12px;
    color: #fff;
    font-weight: 600;
}

.btn_sobre_acao img {
    width: 20px;
    height: 20px;
    padding: 2px 0px 0px 0px;
}

.btn_sobre_acao:hover {
    transform: translateY(-1px);
}