.area_termos_condicoes {
    flex: 1;
    padding: 0px 0px 10px 0px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

.actualizacao {
    width: 100%;
    text-align: center;
}