.area_termos_condicoes {
    flex: 1;
    padding: 6px 0px 20px 0px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
}

.termosMozHouse {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
}

.actualizacao {
    width: 100%;
    text-align: center;
    padding: 10px 0px 0px 0px;
}

@media only screen and (min-width:900px) {
    .termosMozHouse {
        flex-direction: row;
    }
}