:root {
    --verdePrimario: #21c45d;
    --fundo: #111827;
    --fundoSec: #0d1322;
    --contraste: #101625;
    --textoPrin: #ffffff;
    --textoSec: #9ca3af;
}

.area_logo {
    flex: 1;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 5px;
}

.area_logo img {
    width: 30px;
    height: 30px;
}

.nome_logo {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding: 10px 0px 0px 0px;
}

.nome_logo h2 {
    font-family: "Merriweather", serif;
    font-weight: 900;
}

.nome_destaque {
    color: var(--verdePrimario);
}