.area_geral_card {
    width: 300px;
    height: 370px;
    border: 1px solid #000;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.area_img_card {
    position: relative;
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.area_img_card img {
    width: 100%;
    height: 292px;
    border-radius: 15px;
}

.area_compra {
    position: absolute;
    top: 45px;
    left: 10px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    border-radius: 20px;
    color: #fff;
    background: rgba(255, 255, 255, 0.286);
}

.area_contactar {
    position: absolute;
    top: 240px;
    right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.btn_contacto {
    /* padding: 5px; */
    width: 80px;
    border-radius: 20px;
    background: #21c45d;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.link_wht {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-decoration: none;
    color: #fff;
}

.link_wht:hover {
    color: #fff;
}

.area_categoria {
    position: absolute;
    top: 10px;
    left: 10px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    border-radius: 20px;
    color: #fff;
    background: rgba(255, 255, 255, 0.286);
}

.area_preco_casa {
    position: absolute;
    top: 10px;
    right: 10px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    border-radius: 20px;
    color: #21c45d;
    background: rgba(0, 0, 0, 0.406);
}

.area_info_card {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    padding: 3px 0px 3px 5px;
}


.area_localizacao {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.localizacao {
    color: black;
}

.nome_casa {
    color: black;
}

.area_medidas {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.icone {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
}

.icone svg {
    width: 20px;
    height: 20px;
}

.icone p {
    padding: 0px 0px 0px 4px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
}

.linha {
    height: 1px;
    background: #e0e0e0;
    width: 90%;
    text-align: center;
    margin: 5px 0px 5px 0px;
}

.info_medidas {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}