:root {
    --rosa: #f83490;
    --marrom: #644639;
    --rosa-branco: #fcd1e2;
    --dourado: #c9a13b;
}

.area_geral_cat {
    width: 100%;
    /* background: var(--rosa-branco); */
    background: var(--rosa-branco);
    padding: 18px 10px 10px 10px;
    margin-bottom: 13px;
    color: var(--marrom);
}

.area_cat {
    width: 100%;
    /* height: 560px; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.cat {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
}

.titulo_area {
    width: 100%;
    padding: 0px 0px 5px 0px;
    text-align: center;
}

.titulo_cat {
    text-align: center;
    padding: 8px 0px 5px 0px;
    font-weight: 600;
}

.cat_img {
    width: 60px;
    height: 60px;
}

.area_img_cat {
    width: 105px;
    height: 100px;
    padding: 5px;
    background: #ffffff;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0 4px 12px var(--dourado);

}

.info_cat {
    width: 100%;
}

/*Media Querys*/

@media only screen and (min-width:899px) {
    .area_cat {
        flex-direction: row;
    }
}