:root {
    --verdePrimario: #21c45d;
    --fundo: #111827;
    --fundoSec: #0d1322;
    --textoPrin: #ffffff;
    --textoSec: #9ca3af;
}

.depoimentos_container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: var(--fundoSec);
    padding: 15px 10px 15px 10px;
}

.titulo_dep {
    width: 100%;
    text-align: center;
    padding: 10px 0px 10px 0px;
}

.minInfoDep {
    text-align: center;
    padding: 5px 0px 5px 0px;
}

.depoimentos {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
    padding: 0px 0px 15px 0px;
}

.area_depoimento {
    width: 80%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 8px;
    background-color: var(--fundo);
    border: 1px solid var(--verdePrimario);
    border-top: 2px solid var(--verdePrimario);
    border-right: 2px solid var(--verdePrimario);
    border-radius: 0px 20px 0px 20px;
}

.estrela {
    width: 100%;
    text-align: justify;
}

.depoimento_cli {
    text-align: justify;
    font-style: oblique;
    padding: 5px 0px 5px 0px;
}

.depoimento_info {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    gap: 6px;
    width: 100%;
}

.area_nome {
    width: 42px;
    height: 42px;
    padding: 2px;
    border-radius: 100%;
    background: var(--fundoSec);
    color: var(--textoPrin);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.area_nome,
.nome {
    font-weight: 500;
}

@media only screen and (min-width:900px) {
    .depoimentos {
        flex-direction: row;
    }

    .area_depoimento {
        flex: 1;
    }
}