:root {
    --rosa: #f83490;
    --marrom: #644639;
    --rosa-branco: #fcd1e2;
    --dourado: #c9a13b;
    /* Dark */
    --verdePrimario: #21c45d;
    --fundo: #111827;
    --fundoSec: #0d1322;
    --textoPrin: #ffffff;
    --textoSec: #9ca3af;

}

.area_geral_passos {
    width: 100%;
    /* background: var(--rosa-branco); */
    background: var(--rosa-branco);
    padding: 18px 10px 10px 10px;
    margin-bottom: 13px;
    color: var(--marrom);
}

.titulo_passos {
    width: 100%;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.min_info {
    padding: 10px;
    text-align: center;
}

.area_passos {
    width: 100%;
    /* height: 560px; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.passos {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
}

.titulo_passo {
    text-align: center;
    padding: 8px 0px 5px 0px;
    font-weight: 600;
}

.passos_img {
    width: 60px;
    height: 60px;
}

.area_img_passos {
    width: 105px;
    height: 100px;
    padding: 5px;
    background: #ffffff;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0 4px 12px var(--dourado);

}

.info_passo {
    width: 100%;
}

.desc_passos {
    text-align: center;
    padding: 5px 0px 5px 0px;
}

.titulo_passo {
    font-family: "Merriweather", serif;
    font-weight: 800;
}

/*Media Querys*/

@media only screen and (min-width:899px) {
    .area_passos {
        flex-direction: row;
    }
}