:root {
    --verdePrimario: #21c45d;
    --fundo: #111827;
    --fundoSec: #0d1322;
    --textoPrin: #ffffff;
    --textoSec: #9ca3af;
}

.container_pedido {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    padding: 20px 5px 0px 5px;
}

.area_pedido {
    width: 98%;
    background: var(--fundoSec);
    border: 1px solid var(--textoSec);
    border-radius: 10px;
    color: var(--textoPrin);
    box-shadow: 2px 2px 0px var(--fundoSec);
    padding: 5px;
}

.titulo_pedido {
    width: 100%;
    text-align: center;
    padding: 5px;
}

.desc_pedido {
    text-align: center;
    padding: 0px 5px 7px 5px;
}

.area_btn_pedido {
    width: 100%;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding: 5px 5px 8px 5px;
}