:root {
    --verdePrimario: #21c45d;
    --verdeClaro: #21c45d0b;
    --fundo: #111827;
    --fundoSec: #0d1322;
    --contraste: #101625;
    --textoPrin: #ffffff;
    --textoSec: #9ca3af;
}

.container_termos {
    width: 98%;
    height: 180px;
    border: 1px solid var(--textoSec);
    border-radius: 20px;
    padding: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: var(--fundoSec);
}

.termo_final {
    background-color: var(--verClaro);
    border-color: #21c45d49;
}

.area_icone_container {
    width: 28px;
    height: 100%;
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.area_icone {
    width: 30px;
    height: 30px;
    background: var(--verClaro);
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.area_texto {
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 6px 0px 0px 5px;
}

.area_titulo_termos {
    width: 100%;
    text-align: justify;
}

.titulo_termos {
    color: var(--verdePrimario);
    padding: 0px 0px 3px 0px;
}

.desc_termos {
    width: 100%;
    text-align: justify;
}

.area_btn_termos {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 7px;
    flex: 1;
}

.btn_termos {
    width: 100px;
    border: 1px solid #232939;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 3px;
    background-color: var(--contraste);
}

.btn_termos svg {
    padding: 1px 0px 0px 0px;
    color: var(--verdePrimario) !important;
}