:root {
    --verdePrimario: #21c45d;
    --verdeClaro: #21c45d0b;
    --fundo: #111827;
    --fundoSec: #0d1322;
    --contraste: #101625;
    --textoPrin: #ffffff;
    --textoSec: #9ca3af;
}

.area_visao_missao {
    width: 98%;
    height: 160px;
    border: 1px solid var(--verClaro);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    border-radius: 20px;
    padding: 15px;
    background-color: var(--fundoSec);
}

.area_icone_val_mis {
    width: 38px;
    height: 38px;
    background: var(--verClaro);
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.titulo_val_mis {
    color: var(--verdePrimario);
    padding: 5px 0px 5px 0px;
}

.area_icone {
    width: 100%;
}

.area_texto {
    width: 100%;
}

.area_desc {
    width: 100%;
}