:root {
    --verdePrimario: #21c45d;
    --fundo: #111827;
    --fundoSec: #0d1322;
    --contraste: #101625;
    --textoPrin: #ffffff;
    --textoSec: #9ca3af;
}

footer {
    width: 100%;
    background: var(--fundoSec);
    text-align: justify;
    color: var(--textoPrin);
    text-align: center;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 12px 5px 5px 5px;
    border-top: 1px dotted var(--textoSec);
}

.ocultar {
    color: var(--fundoSec);
    font-size: 0.3rem;
}

.desc_marca {
    padding: 3px 0px 0px 0px;
}

.area_info_footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
}


.desc_footer {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    flex: 1;
    height: 100%;
    padding: 0px 10px 15px 0px;
}

.desc_footer p {
    text-align: justify;
}

.linha_footer {
    border: none;
    border-radius: 10px;
    height: 1px;
    background: var(--textoSec);
    margin: 12px 0px 12px 0px;
    width: 95%;
}

.area_nav_titulo {
    text-align: justify;
}