:root {
    --verdePrimario: #21c45d;
    --fundo: #111827;
    --fundoSec: #0d1322;
    --contraste: #101625;
    --textoPrin: #ffffff;
    --textoSec: #9ca3af;
}

footer {
    width: 100%;
    background: var(--fundoSec);
    text-align: justify;
    color: var(--textoPrin);
    text-align: center;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 12px 5px 5px 5px;
    border-top: 1px dotted var(--textoSec);
}

.ocultar {
    color: var(--fundoSec);
    font-size: 0.3rem;
}

.desc_marca {
    padding: 3px 0px 0px 0px;
}

.area_info_footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    /* width: 100%; */
    gap: 10px;
    padding: 0px 2px 0px 2px;
}


.desc_footer {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    padding: 0px 10px 0px 0px;
    border-right: 1px dotted var(--textoSec);
    flex: 1;
}

.desc_footer p {
    text-align: justify;
}

.linha_footer {
    border: none;
    border-radius: 10px;
    height: 1px;
    background: var(--textoSec);
    margin: 12px 0px 12px 0px;
    width: 98%;
}

.area_nav_titulo {
    text-align: justify;
}

.contacto {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

.titulo_contacto {
    padding: 0px 0px 5px 0px;
}

.area_numeros,
.email {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

.numeros,
.email {
    font-family: "Merriweather", serif;
}

.link_footer {
    /* height: 20px; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 5px;
    padding: 6px 0px 0px 10px;
}

.link_footer img {
    width: 20px;
    height: 20px;
    padding: 2px 0px 0px 0px;
}

@media only screen and (min-width:900px) {
    .desc_footer {
        padding: 0px 10px 80px 0px;
    }
}