:root {
  --corFundo: #0d1322;
  --topoPreto: #101625;
  --corBtnDest: #21c45d;
}

body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  background-color: var(--corFundo);
}

#root {
  width: 100%;
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}