:root {
  --verdePrimario: #21c45d;
  --fundo: #111827;
  --fundoSec: #0d1322;
  --contraste: #101625;
  --textoPrin: #ffffff;
  --textoSec: #9ca3af;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-size: 1rem; */
  font-size: 0.9rem;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  text-decoration: none;
  color: var(--textoPrin);
}

body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  color: var(--textoPrin) !important;
  background-color: var(--fundo);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Merriweather", serif;
  font-weight: 500;
}

p,
div {
  font-family: "Inter", sans-serif;
  font-weight: 400;
}

button {
  font-family: "Inter", sans-serif;
  font-weight: 600;
}

button p {
  font-family: "Inter", sans-serif;
  font-weight: 600;
}

button a {
  font-family: "Inter", sans-serif;
  font-weight: 600;
}

a button {
  font-family: "Inter", sans-serif;
  font-weight: 600;
}

a {
  button a {
    font-family: "Inter", sans-serif;
    font-weight: 500;
  }
}

#root {
  width: 100%;
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
}